<header>
    This is header
    <ul>
        <%if(locals.user){%>
            <li><a href="/users/profile"><%= user.name%></a></li>
            <li><a href="/users/signout">SIGNOUT</a></li>
        <%} else{%>
            <li><a href="/users/signin">SIGNIN</a></li>
            <li><a href="/users/signup">SIGNUP</a></li>
            <%}%>
    </ul>
</header>