<html>
    <head>
        <title><%=title%></title>
    </head>
    <body>
        <h1>Project codial <%=title%></h1>

        <form action = "/detail/getDetails" method = "POST">
            <input type = "text" name = "name">
            <input type = "submit" value = "Submit">
        </form>
    </body>
</html>