<form action="/users/create-user" method="POST">
    <label for="email">Email</label>
    <input type="email" name="email" required>
    <label for="password">password</label>
    <input type="password" name="password" required>
    <label for="name">Name</label>
    <input type="text" name="name" required>
    <button type="submit" value="Submit">SIGNUP</button>
</form>

<p>
    <a href="/users/auth/google">Google Singin/signup</a>
</p>